body {
  background-color: rgb(159, 159, 159);
}
.box {
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 10px;
  width: 50%;
  text-align: center;
  margin-top: 3%;
  padding: 20px;
  overflow: auto;
  background-color: lightgray;

  /* background-color: rgba(137, 137, 152, 0.507); */
}
.location {
  display: flex;
  /* border: 2px solid rgb(7, 7, 7); */
  justify-content: center;
  align-items: center;
}
.streat {
  /* border: 2px solid green; */
  padding: 20px;
  font-size: 3em;
  margin: 30px;
}
.cityName {
  /* border: 2px solid yellow; */

  font-size: 4rem;
}
.header {
  text-align: center;
  color: white;
  font-weight: 900;
  font-size: 3rem;
  padding-top: 20px;
}
#outlined-basic {
  font-size: x-large;
}
@media (max-width: 900px) {
  .location {
    display: flex;
    flex-direction: column;
  }
  .cityName {
    /* border: 2px solid yellow; */

    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  .box {
    width: 70%;
  }
}
