body {
  /* background-color: rgba(212, 228, 255, 0.769); */
  /* background-image: url("https://i.pinimg.com/originals/f2/b3/0d/f2b30db3c8bc87486f5b452dd6e6d300.jpg"); */
  background-image: url("https://cdn.pixabay.com/photo/2015/07/05/10/18/tree-832079_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
}

.box {
  border: 2px solid red;
  border-radius: 20px;
  box-shadow: 10px;
  width: 50%;
  text-align: center;
  margin-top: 10%;
  padding: 20px;
  /* background-color: lightskyblue; */

  /* background-color: rgba(137, 137, 152, 0.507); */
}
.location {
  display: flex;
  /* border: 2px solid rgb(7, 7, 7); */
  margin-right: 100px;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
.streat {
  /* border: 2px solid green; */
  padding: 20px;
  font-size: 3em;
  margin: 30px;
}
.cityName {
  /* border: 2px solid yellow; */

  font-size: 4rem;
}
.header {
  text-align: center;
  color: white;
}
h1 {
}
